<footer id="gtco-footer" role="contentinfo" style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
<div class="overlay"></div>
<div class="gtco-container">
<div class="row row-pb-md">

    <div class="col-md-12 text-center">
        <div class="gtco-widget">
            <h3>Entrar em Contato</h3>
            <ul class="gtco-quick-contact">
                <li>
                    <a href="#">
                        <i class="icon-phone"></i> (46) 99910-0267</a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-mail2"></i> jhonathanpribeiro@gmail.com</a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-chat"></i> Chat</a>
                </li>
            </ul>
        </div>
        <div class="gtco-widget">
            <h3>Redes Sociais</h3>
            <ul class="gtco-social-icons">
                <li>
                    <a href="https://twitter.com/Jhonathanjbr">
                        <i class="icon-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/jhonathanpribeiro">
                        <i class="icon-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/jhonathan-ribeiro-703476172/">
                        <i class="icon-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/JhonathanRibeiro">
                        <i class="icon-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-12 text-center copyright">
        <p>
            <small class="block">&copy;2019 Jhonathan Ribeiro. Todos os Direitos Reservados.</small>
            <small class="block">Desenvolvido por
                <a href="http://jhonathanribeiro.github.io" target="_blank">Jhonathan Ribeiro</a>
            </small>
        </p>
    </div>
</div>

</div>
</footer>